<!DOCTYPE html>
<html>
<body>
<h2>User Login</h2>
<form action="http://localhost:4567/login">
Username<br>
<input type="text" name="username">
<br><br>
Password<br>
<input type="password" name="password">
<br><br>
<input type="submit" value="Submit">
</form>
<p>$message</p>
</body>
</html>